################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/compilador/.vs/compilador/v16/Server/sqlite3
